.info-menu {
    display: flex;
    font-family: var(--main-font);
    font-size: 16px;
    width: 55%;
    margin: 50px 25px 25px 50px;
}

.text {

}

.logo {
    border-radius: 90%;
    border: none;
    width: 100%;
}


.main-container {
    display: flex;

    flex-wrap: wrap;
}
.characters
{
    width: 40%;
}
.container_item {

    box-sizing: border-box;
    padding: 24px 20px;
    position: relative;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: ease-out;
    border-top: 1px solid rgb(235,235,235);
    border-bottom: 1px solid rgb(235,235,235);
    margin-top: 50px;
    height: 200px;
}


.character_container {
    font-family: var(--main-font);
    font-size: 16px;
    max-width: 40%;
    width: 100%;

}

.character_photo {
    display: flex;
    margin-right: 25px;
    float: left;
    height: 100%;
}



.character_text {
    margin-right: 25px;
    width: auto;
    display: flex;
    text-size-adjust: 100%;
}

