.info-menu {
    display: flex;
    font-family: var(--main-font);
    font-size: 16px;
    width: 55%;
    margin: 50px 0 25px;
}

.text {

}

.logo {
    border-radius: 90%;
    border: none;
}


.main-container {
    display: flex;

    flex-wrap: wrap;
}

.container_item {
    border-radius: 16px;
    box-sizing: border-box;
    padding: 24px 20px;
    position: relative;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: ease-out;
    border: 1px solid grey;
    margin-top: 50px;
    height: 200px;
}


.character_container {
    max-width: 40%;
    width: 100%;
    display: flex;
}

.character_photo {
    align-self: flex-start;
    display: flex;
    max-width: 25%;
    height: 100%;
}

@media (max-width: 768px) {
    .character_container {
        max-width: 100%;
    }
}

.character_text {
    font-family: var(--main-font);
    font-size: 16px;
    margin-left: 45px;
}

